$small: 768px;
$medium: 1024px;
$large: 1200px;

.mobile-only {
  display: none;
}

@media screen and (max-width: $small) {
  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }
}

.hidden {
  display: none !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 15px;

  @media screen and (max-width: $medium) {
    max-width: 800px;
  }
}