@import "normalize";
@import "vars";
@import "utils";

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: bold;
}

.jw-demo {
  font-family: $default_font;
  font-size: 16px;
}