@import "normalize";
@import "vars";
@import "utils";
@import "loading";

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: bold;
}

.jw-demo {
  font-family: $default_font;
  font-size: 16px;
}

#jw-demo-users {
  td:first-child {
    min-width: 50px;
  }
}

.table-wrapper {
  position: relative;

  .jw-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.4);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .jw-loading {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .jw-demo-users {
    z-index: 9;
  }
}

.jw-user-details {
  h6 {
    margin: 5px 0;
    font-size: 20px;
  }

  .td-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media screen and (max-width: $small) {
      grid-template-columns: 1fr;
    }
  }
}